/*****************IMPORTS*****************/
/*****************TAGS*****************/
body {
  font-family: 'Anek Malayalam';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anek Malayalam';
  font-weight: 900;
}

p {
  color: #8f8f8f;
}


/* --Headings-- */
.big-heading {
  font-family: 'Anek Malayalam';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/*****************CONTAINERS*****************/
.container-fluid {
  padding: 7% 15%;
}

/*****************TITLE*******************/
.transformed_image {
  transform: rotate(30deg) translateX(50px) translateY(-30px);
  width: 40%;
  z-index: 0.5;
  position: absolute;
  right: 40%;
}

@media (max-width: 1068px) {
  .transformed_image {
    position: static;
    transform: rotate(0deg);
    text-align: center;
    right: 0%;
  }

  #title {
    text-align: center;
  }
}

#title {
  background-color: #041562;
  color: white;
  padding: 0 0;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* navbar modifications */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu';
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
}


/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Features values */
#features {
  padding: 7% 11%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  padding-bottom: 1.5%;
  z-index: 1;
}

.features_icon {
  color: #11468F;
  margin: 1rem;
  padding-top: 2rem;
  font-size: 3rem;
}

.features_icon:hover {
  color: #041562;
}

.features_text {
  font: 'Anek Malayalam';
  color: #8f8f8f;
  padding: 0 10%;
}

.features_text_value {
  font: 'Anek Malayalam';
  font-weight: 900;
}



/* Testimonial section */
#testimonials {
  background-color: #11468F;
  color: #fff;
}

.testimonial_customer {
  width: 15%;
  border-radius: 100%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.press_logos {
  width: 12%;
  margin: 20px 50px 20px;
}


/* Pricing section */
#pricing {
  padding: 100px;
}

.aligning-buttons {
  color: #fff;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}


.pricing-column {
  padding: 3% 2% 0%;
}

/* Call to Action (cta) */
#cta {
  background-color: #041562;
  color: white;
}

.slogan_bottom {
  font-weight: 900;
  font-size: 3.5rem;
  font-family: 'Anek Malayalam';
  line-height: 1.5;
}

/* Footer */
#footer {
  background-color: #fff;
}

.social-icon {
  margin: 20px 10px;
}

.copyright_text {
  margin: 1%;
}
